

<div class="d-flex flex-column flex-shrink-0  bg-light p-5" style="width: 296px;height: 100%;">
  <a href="#" class="link-dark mb-5" aria-current="page">
    <img src="/assets/images/logo-ANSWER.svg" alt="logo-ANSWER">
  </a>
    <ul class="list-group list-unstyled flex-column mb-auto fw-bold">
      <li class="nav-hover mb-4">
        <a href="#" class="link-dark" aria-current="page">
          <i class="material-icons me-1 align-middle">
            assessment
          </i>
          Dashboard
        </a>
      </li>
      <li class="nav-hover mb-4">
        <a href="#" class="link-dark">
          <i class="material-icons me-1 align-middle">
            question_answer
          </i>
          Question
        </a>
      </li>
      <li class="nav-hover mb-4">
        <a href="#" class="link-dark">
          <i class="material-icons me-1 align-middle">
            assignment
          </i>
          Assignment
        </a>
      </li>
      <li class="nav-hover mb-4">
        <a href="#" class=" link-dark">
        <i class="material-icons me-1 align-middle">
          video_library
        </i>
        Course</a>
      </li>
      <li class="nav-hover mb-4">
        <a href="#" class="list-group-item-light active text-success" aria-current="true">
          <i class="material-icons me-1 align-middle">
            people 
          </i>
          Admin
        </a>
      </li>
      <li class="nav-hover">
        <a href="#" class="link-dark">
          <i class="material-icons me-1 align-middle">
            settings
          </i>
          Settings
        </a>
      </li>
    </ul>
    
    <div>
      <a href="#" class="d-flex align-items-center text-decoration-none " >
        <img src="../assets/images/andychen.jpeg" alt="" width="40" height="40" class="rounded-circle me-1">
        <div>
        <h6 class="fw-bold">Andy Chen</h6>
        <span class="text-secondary">andy0401@mail.com</span>
      </div>
      </a>
    </div>
  </div>
