<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet">
  <title>contact</title>
</head>

<body>
  <!-- <%- include('./layout/header'); -%>
    <h1>我是contact</h1>
    <%- include('./layout/footer'); -%> -->
  <!-- Button trigger modal -->
  <!-- 
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
  </button> -->

  <!-- Modal -->
  <!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content rounded-0">
        <div class="modal-body p-5">
          <div class="container-fluid">

            <div class="row d-flex justify-content-between">
              <div class="col-3 square-image " style="background-color: aquamarine;">
                <!-- <img src="../assets/images/emir.jpeg" class="square-image" alt="emir"> -->
  </div>
  <div class="col-8 ps-4 pe-0">
    <div class="d-flex justify-content-between">
      <h5 class="modal-title" id="exampleModalLabel">#1</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div>
      <h6>Admin</h6>
      <h4>Emir Wicks</h4>
      <span class="text-secondary">emir.wicks@mail.com</span>
      <div class="d-flex align-items-center justify-content-between mt-4 mb-5">
        <button type="button" class="btn btn-light rounded-0 px-2 py-1 m-0">Verified</button>

        <button type="button" class="btn btn-default p-0" data-bs-toggle="collapse" data-bs-target="#expand_more"
          aria-expanded="false" aria-controls="expand_more"><i
            class="material-icons text-success d-flex">expand_more</i></button>
      </div>
      <div class="collapse multi-collapse" id="expand_more">
        <div class="d-flex justify-content-between">
          <button type="button" class="btn btn-outline-danger rounded-0 px-5">Deactivate</button>
          <button type="button" class="btn btn-success rounded-0 px-5">Edit</button>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div> -->


  <script type="module" src="../main.js"></script>
</body>

</html>